body{
	margin: 100px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 22px;
	color:#333;
	font-weight: 100;
}
b{
	font-weight: bold;
}
#content{
	width: 600px;
	margin: 0 auto;
}
#content p{
	text-align: justify;
	line-height: 1.5em;
	color: #333;
}
#content p.caption{
	text-align: center;
	font-size: 1.1em;
}
#content p img{
	height: 1em;
	position: relative;
	top:4px;
}
iframe{
	border:none;
	display: block;
	margin: 0px auto 50px auto;
}
hr{
    border: none;
    border-bottom: 5px dashed #ccc;
    margin: 50px 0;
}
li{
	margin-bottom:1em;
}