body{
	margin:0;
	background: #fff;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
}
canvas{
	position:absolute;
	top:0; left:0;
}

#canvasses{
	position:absolute;
	top:0; left:0;
	width: calc(100% - 300px);
	height: 100%;
}

/**********
 SIDEBAR 
**********/

#sidebar{
	position: absolute;
	top:0; right:0;
	width: 300px;
	height: 100%;
	background: #ddd;
}
#sidebar > div{
	margin: 25px;
}
#sidebar > div > div{
	margin-bottom: 20px;
}
#sidebar[mode=play]{
	background: #222;
}

.component_input{
	border: none;
	
	width:calc(100% - 10px);
	height:22px;
	padding: 5px;
	
	font-size: 20px;
	font-weight: 100;
}
.component_slider{
	width: 100%;
}
.component_label{
	margin-bottom: 5px;
}
.component_button{
	width: calc(100% - 20px);
	background: #666;
	color: #fff;
	text-align: center;
	padding: 10px;

	cursor: pointer;
}
.component_button:hover{
	background: #777;
}