body{
	margin:0;
	background: #fff;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;

	overflow: hidden;
}
canvas{
	position:absolute;
	top:0; left:0;
}

#canvasses{
	position:absolute;
	top:0; left:0;
	width: calc(100% - 300px);
	height: 100%;
}
#canvasses[cursor=ink]{
	cursor: url('cursors/ink.png') 0 30, auto;
}
#canvasses[cursor=drag]{
	cursor: url('cursors/drag.png') 15 15, auto;
}
#canvasses[cursor=erase]{
	cursor: url('cursors/erase.png') 5 25, auto;
}


/**********
 TOOLBAR 
**********/

#toolbar{
	position: absolute;
	left: calc(50% - 247.5px); /* half of toolbar width + sidebar width */
	bottom:0;

	width:195px; height:65px;
	padding: 5px;
	background: #ddd;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#toolbar[mode=play]{
	display: none;
}

.toolbar_button{
	width:50px; height:50px;
	padding:5px;
	border: 2px solid #ddd;
	cursor: pointer;
}
.toolbar_button[selected=yes]{
	border: 2px solid #888;
	background: #999;
}

/**********
 SIDEBAR 
**********/

#sidebar{
	position: absolute;
	top:0; right:0;
	width: 300px;
	height: 100%;
	background: #ddd;

	font-weight: 100;
	font-size: 18px;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#sidebar > div{
	margin: 25px;
}
#sidebar > div > div{
	margin-bottom: 20px;
}
#sidebar[mode=play]{
	background: #222;
}
#sidebar hr{
	border: none;
	border-bottom: 2px solid #aaa;
	margin: 2em 0;
}
.component_input{
	border: none;
	
	width:calc(100% - 10px);
	height:22px;
	padding: 5px;
	
	font-size: 20px;
	font-weight: 100;
}
.component_output{
	border: 1px solid #aaa;
	width:100%;
	background: #ddd;
	color: #666;
	font-size: 15px;
	font-weight: 100;
}
.component_slider{
	width: 250px;
	height: 40px;
}
.component_label{
	margin-bottom: 5px;
}
.component_button{

	width: calc(100% - 20px);
	background: #666;
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	padding: 10px;

	cursor: pointer;
}
.component_button:hover{
	background: #777;
}