body{
	margin:0;
	background: #fff;
	overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 100;
}

#video{
	width: 800px;
	height: 450px;
	margin: 50px auto 25px auto;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}
#buttons{
	width: 600px;
	height: 50px;
	margin: 0 auto;
}
#buttons .button{

	font-size: 20px;
	text-align: center;

	border-radius: 5px;
	border-bottom: 5px solid rgba(0,0,0,0.3);

	position: relative;
	top: 0px;
	transition: all 0.15s ease-in-out;
	
	width:290px; height:20px;
	padding:15px 0px;

	background: hsl(0, 80%, 60%);
	color: #fff;

}
#buttons .button:hover{
	top: -3px;
	background: hsl(0, 80%, 70%);
}
#credits{
	font-size: 18px;
	color: #aaa;
	text-align: center;
	margin-top: 15px;
}